{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

<div class="row">
    <div class="col-md-9">
        <strong>{{ form_row(form.title) }}</strong>
    </div>
    <div class="col-md-3">
        <strong>{{ form_row(form.publishedAt) }}</strong>
    </div>
</div>
<strong>{{ form_row(form.description) }}</strong>
<div class="form-group mb-3">
    <label class="form-label"><strong>{{ form.categories.vars.label }}</strong></label>
    <div class="d-flex flex-wrap gap-3">
        {% for child in form.categories %}
            <div class="form-check form-check-inline">
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </div>
        {% endfor %}
    </div>
</div>
<strong>{{ form_row(form.playlist) }}</strong>
<strong>{{ form_row(form.videoId) }}</strong>

<button type="submit" class="btn btn-info btn-sm" title="Créer une formation">
    {{ button_label|default('Valider') }}
</button>

{{ form_end(form) }}
